CREATE DATABASE quanlynhansu
GO

USE quanlynhansu
GO

CREATE TABLE Account(
	username NVARCHAR(255) PRIMARY KEY,
	pass NVARCHAR(255) not null
)
GO

CREATE TABLE Department(
	d_id INT IDENTITY(1,1) PRIMARY KEY,
	name NVARCHAR(255) NOT NULL
)
GO

CREATE TABLE Job(
	j_id INT IDENTITY(1,1) PRIMARY KEY,
	name NVARCHAR(255) NOT NULL,
	base_salary FLOAT  NOT NULL
)
GO

CREATE TABLE Employee(
	e_id INT IDENTITY(1,1) PRIMARY KEY,
	name NVARCHAR(255) NOT NULL,
	dob DATE NOT NULL,
	e_address NVARCHAR(255) NOT NULL,
	phone CHAR(12) UNIQUE NOT NULL,
	depID INT FOREIGN KEY REFERENCES Job(j_id),
	jobID INT FOREIGN KEY REFERENCES Department(d_id)
)
GO


